* {
  border: 1px solid black;
}

.grid {
  margin: auto;
  width: 400px;
  height: 400px;
  border: 3px yellow solid;
}

.box {
  float: left;
  width: calc(100% * (1/25) - 2px);
  height: calc(100% * (1/25) - 2px);
  background-color: white;
}

.boxed {
  float: left;
  width: calc(100% * (1/25) - 2px);
  height: calc(100% * (1/25) - 2px);
  background-color: black;
}
