* {
  border: 1px solid white;
  font-size: 30px;
  font-family: arial;
}

.grid {
  border: 3px solid black;
  margin: auto;
  width: 525px;
  height: 525px;
}

.box {
  border: 1px solid black;
  float: left;
  width: calc(100% * (1/16) - 2px);
  height: calc(100% * (1/16) - 2px);
  background-color: white;
}

.boxed {
  float: left;
  width: calc(100% * (1/16) - 2px);
  height: calc(100% * (1/16) - 2px);
  background-color: black;
}

.boxer {
  float: left;
  width: calc(100% * (1/16) - 2px);
  height: calc(100% * (1/16) - 2px);
  background-color: black;
}

.but {
  width: 586px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 9px;
}

#db , #rb, #bm{
  border-radius: 9px;
}

#rights {
  position: relative;
  bottom: 0px;
  font-size: 17px;
}

#rules {
  color: green;
  width: 181px;
  margin: auto;
  margin-top: 10px;
  font-size: 25px;
}
